@media (min-width: 960px) {
    main {
        padding: 2rem;
    }

    .directory-main h1 {
        font-size: 3em;
    }

    .view-toggle button {
        padding: 1rem 2rem;
        font-size: 1.1em;
    }

    #member-display.grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
    }

    .member-card {
        padding: 30px;
    }

    .member-list-item {
        padding: 20px 30px;
    }

    .hero-image {
        height: 500px; /* This overrides previous heights for large screens */
    }

    .hero-content h1 {
        font-size: 4.5em;
    }

    .hero-content p {
        font-size: 1.6em;
    }

    .home-grid {
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-template-areas:
            "events weather weather"
            "spotlight1 spotlight2 spotlight3";
    }

    .event-card {
        grid-area: events;
    }

    .weather-card {
        grid-area: weather;
    }

    .spotlights-card {
        grid-column: span 3;
    }

    .spotlights-card .spotlight-cards {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}